{% extends 'base.html' %}

{% block content %}
    <h1>This is the profile page of {{ profile.username }}</h1>
    <div id="videos">
    {% for video, views, tags in videos %}
         <div class="row">
            <div class="col-xs-3 col-md-4" ></div>
            <div class="col-xs-6 col-md-4 center-block text-center">
                <a href="{% url 'video' videoID=video.id%}">
                    <h2>{{ video.title }}</h2>
                    <div>
                        <img src="{{ video.thumbnail.url }}" class="img-responsive">
                    </div>
                    <h2>Kategóriák: {{ tags }}</h2>
                    <h3>Megtekintés: {{ views }}</h3>
                </a>
            </div>
            <div class="col-xs-3 col-md-4"></div>
         </div>>
    {% endfor %}

    </div>

    <div id="playlists">



    </div>
{% endblock %}