{% extends 'base.html' %}

{% block content %}
    <h1>{{ profile.username }} profilja</h1>
    <div id="videos">
        <div class="row">
            <div class="col-xs-3 col-md-4" ></div>
            <div class="col-xs-6 col-md-4 center-block text-center">
                <div class="profile_title">Videók:</div>
            </div>
            <div class="col-xs-3 col-md-4"></div>
        </div>
    {% if videos %}

        {% for video, views, tags in videos %}
         <div class="row">
            <div class="col-xs-3 col-md-4" ></div>
            <div class="col-xs-6 col-md-4 center-block text-center">
                <a href="{% url 'video' videoID=video.id%}">
                    <h2>{{ video.title }}</h2>
                    <div>
                        <img src="{{ video.thumbnail.url }}" class="img-responsive">
                    </div>
                    <h2>Kategóriák: {{ tags }}</h2>
                    <h3>Megtekintés: {{ views }}</h3>
                </a>
            </div>
            <div class="col-xs-3 col-md-4"></div>
         </div>
    {% endfor %}


    {% else %}
         <div class="row">
            <div class="col-xs-3 col-md-4" ></div>
            <div class="col-xs-6 col-md-4 center-block text-center">
                <div>A felhasználónak nincsenek videói</div>
            </div>
            <div class="col-xs-3 col-md-4"></div>
         </div>
    {% endif %}

    </div>

    <div id="playlists">

        <div class="row">
            <div class="col-xs-3 col-md-4" ></div>
            <div class="col-xs-6 col-md-4 center-block text-center">
                <div class="profile_title">Lejátszási listák:</div>
            </div>
            <div class="col-xs-3 col-md-4"></div>
        </div>

        {% if playlists %}
            {% for list in playlists %}

                <div class="row">
                    <div class="col-xs-3 col-md-4" ></div>
                    <div class="col-xs-6 col-md-4 center-block text-center">
                        <a href="{% url 'play_playlist' playlist_id=list.id id=0%}">
                            <h2>{{ list.title }}</h2>
                            <div>asdasdsad</div>
                        </a>
                    </div>
                    <div class="col-xs-3 col-md-4"></div>
                </div>

            {% endfor %}

        {% else %}
             <div class="row">
                <div class="col-xs-3 col-md-4" ></div>
                <div class="col-xs-6 col-md-4 center-block text-center">
                    <div>A felhasználónak nincsenek lejátszási listái</div>
                </div>
                <div class="col-xs-3 col-md-4"></div>
             </div>
        {% endif %}
    </div>
{% endblock %}