{% extends 'base.html' %}

{% block head %}
    {% load staticfiles %}
    <link rel="stylesheet" href="{%  static 'css/showvideo.css' %}" >
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-3 col-md-4" ></div>
        <div class="col-xs-6 col-md-4 center-block text-center">
            <h1>{{ videoObject.title }}</h1>

            <div id="parent">
                <video id="vidi" width="400" height="280" controls onended="sendData()">
                    <source src="{{ videoObject.filename.url }}" type="video/mp4">
                </video>
                {% if owned%}
                    <div id="edit-button">
                        <button type="button" class="btn btn-light" onclick="location.href='{% url 'video_edit' videoID=videoObject.id %}'">
                            <i class="fa fa-cog" aria-hidden="true"></i>
                        </button>
                    </div>
                {% endif %}

                <div id="playlist_add" >
                    <form method="get" action="{% url 'add_to_playlist' %}">
                        <div class="form-group" title="Lejátszási listára felvesz">
                            <input type="hidden" name="video" value="{{ videoObject.id }}">
                            <button type="submit" class="btn btn-light">
                                <i class="fa fa-plus"></i>
                            </button>
                        </div>
                    </form>
                </div>

            </div>

            <h2><a href="{% url 'profile' user_id=request.user.username %}">{{ owner.username }}</a></h2>
            <h3 >Megtekintés: <span id="viewer_count">{{viewCount}}</span></h3>
            <p>{{ videoObject.description }}</p>



        </div>
        <div class="col-xs-3 col-md-4"></div>
    </div>
    {% if videoObject.is_commentable %}
        {% if user.is_authenticated %}
            <div class="row">
                <div class="col-xs-3 col-md-4" ></div>
                <div class="col-xs-6 col-md-4 center-block text-center">
                    <form method="post" action="{% url 'video' videoID=videoObject.id %}">
                        {% csrf_token %}
                        <div class="form-group">
                            <textarea placeholder="Ide irj kommentet" class="form-control" rows="3" id="comment" name="comment" maxlength="500" ></textarea>
                            <div class="text-right">
                                <button type="submit" class="btn btn-primary blue">
                                    <i class="fa fa-comment" aria-hidden="true"></i>
                                    Komment
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-xs-3 col-md-4"></div>
            </div>
        {% endif %}

        {% for comment in comments %}
            <div class="row">

                <div class="col-xs-1 col-md-3" ></div>
                <div class="col-xs-2 col-md-1 commenter-avatar">
                    <div class="relative-helper">
                        <div class="box">
                            {% if request.user == comment.user or owned or user.is_superuser %}
                                <form method="post" action="{% url 'video' videoID=videoObject.id %}">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <button type="submit" class="delete-button" name="del" value="{{ comment.id }}">
                                            <i class="fa fa-trash delete-icon" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                </form>
                            {% endif %}
                        </div>
                    </div>

                </div>
                <div class="col-xs-6 col-md-4">
                    <a class="user-link" href="{% url 'profile' user_id=comment.user.username %}">
                        <span class="comment-user">
                            {{ comment.user.username }}
                        </span>
                    </a>

                    <div class="comment-text">{{ comment.content | safe }}</div>
                    {% if not forloop.last %}
                        <hr>
                    {% endif %}
                </div>

                <div class="col-xs-3 col-md-4"></div>
            </div>

        {% endfor %}
    {% endif %}

    <script type='text/javascript'>

    function sendData() {
        console.log('Video has ended!');
        var video = '{{ videoObject.id }}';
        var user = '{{ request.user }}';
        $.ajax({
            url : "{% url 'watched_video' %}", // the endpoint
            type : "POST", // http method
            data : { user : user, video: video },

            success : function(json) {
                console.log(json); // log the returned json to the console
                console.log("success"); // another sanity check
            },

            error : function(xhr,errmsg,err) {
                console.log("fail"); // another sanity check
            }
        });
    }


    </script>
{% endblock %}

